openai
langchain
aiocache
sqlalchemy
langchain_community
flask[async]
httpx
requests
sentence_transformers
colorlog
python-dotenv

networkx #???
jaal
matplotlib

dash
dash-bootstrap-components
dash-cytoscape